:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  height: 100%;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.general-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f6e3d4;
}

.logic-container{
  width: 900px;
  height: 400px;
  background-color: rgb(255, 251, 247);
  /* box-shadow: 1px 1px 8px rgb(209, 209, 209); */
  border-radius: 20px;
}